@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Red+Hat+Display&family=Pacifico&family=Roboto+Mono:wght@100&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    
}
/*preloader*/

:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 7;
}



#preloader {
    background: rgb(241, 234, 245);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    font-family: "Source Sans Pro";
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
}




#preh1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Roboto Mono", sans ;
    position: relative;
    width: max-content;
    
  }
  
#preh1::before,
#preh1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
#preh1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
#preh1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
.subtitle {
    color: rgb(28, 255, 247);
    font-family: "Righteous";
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
@keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
@keyframes blink {
    to {
      background: transparent;
    }
  }
  
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  iframe{
    display: none;
  }
/*home*/
.container{
width: 100%;
min-height: 100vh;
padding-left:8%;
padding-right: 8%;
box-sizing: border-box;
overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
 display: none;
}
nav{
  flex: 1;
  text-align: right;
  font-family: "Righteous";
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: ease 0.3s;
}
nav ul li a:hover{
  color: #52fbf2;
}

.row{
  display: flex;
  justify-content: space-between;
  margin: 100px a;
  font-family: "Prompt";

}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin: 50px;
}
.col-1 h2{
  font-size: 54px;
}
.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 10px 0 10px;
}
.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4{
  margin: 10px 0;
  font-size: 20px;
}
button {
  font-family: sans-serif;
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #52fbac, #27bbff);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
button img{
  width: 30px;
  display: none;
}
button:hover img{
  display: block;
}
button:hover{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient( #52fbf2, #27bbff);
  position: absolute;
  left: -40px;
  top: 15px;
  border-radius: 6px;
}
.col-2{
  background: url(images/div.png);
  
}
.spup{
  width: 90%;
  transition: 1s;
}
.spup:hover{
  transform:translateX(-20px) ;
}
.socials img{
  height: 18px;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.socials {
  text-align: center;
}
.socials img:hover{
  height: 25px;
  margin: 25px;
}
@media only screen and (max-width:700px){
      nav ul{
        width:100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        background:linear-gradient(to right, #52fbf2, #27bbff) ;
        border-bottom-left-radius: 75px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      nav ul li a{
        color: rgb(255, 255, 255);
      }
      .menu-icon{
        display: block;
      }
      #menuList{
        overflow: hidden;
        transition:0.7s ;
      }
      .row{
        flex-direction: column-reverse;
        margin: 50px 0;
      }
      .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
      }
      .col-2 .spup{
        width: 775;
      }
      .col-1{
        flex-basis: 100%;
      }
      .col-1 h2{
        font-size: 35px;
      }
      .col-1 h3{
        font-size: 20px;
      }
      .col-1 h4{
        font-size: 15px;
      }
      .socials img{
        margin: 10px;
      }
}


/*contact.html*/
.contact-title{
  margin-top: 100px;
  color: #7660f5;
  
  transition:all 4s ease-in-out;
  font-family: "Red Hat Display";
}
.contact-title h1{
  font-size: 32px;
  line-height: 10px;

}
.contact-title h2{
  font-size: 16px;
  margin-top: 10px;
  color: #7bbdf3;
}
.contact-form{
  font-family: "Poppins";
}
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #27bbff;
  color: gray;
  font-size: 18px;
  margin-bottom: 16px;
  font-family: "poppins";
  
}
.form-control-text{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #27bbff;
  color: gray;
  font-size: 18px;
  margin-bottom: 16px;
  font-family: "Poppins";
}
input{
  height: 45px;

}
form .submit{
  background: #f31383;
  border-radius: 50px;
  border-color: transparent;
  font-size: 20px;
  font-weight:bold ;
  letter-spacing: 2px;
  height: 50px;
  font-family: "pacifico";
  width: 150px;
  transition: all 0.75s ease-in-out;
  color: #fff;
}
form .submit:hover{
  color: #000;
  background-color: #70cca1;
  cursor: pointer;
}
/*about.html*/
.a-row{
  display: flex;
  justify-content: space-between;
  margin: 100px a;
  /*font-family: "Quicksand";*/
}
.cnt{
  flex-basis: 40%;
  position: relative;
  margin: 50px;
  font-family: "Poppins";
}
.cnt::after{
  content: '';
  width: 10px;
  height: 77%;
  background: linear-gradient( #f3105c, #ff5927);
  position: absolute;
  left: -40px;
  top: 15px;
  border-radius: 6px;
}
#ah{
  color: rgb(255, 0, 85);
  text-decoration: none;
  transition: ease 0.5s;
}
#ah:hover{
  color: #27bbff;
  text-decoration:underline;
  text-decoration-color: #ee0077;
}
/*thanks.html*/
:root{
  --white: #fff;
  --black: #0a1620;
  --nav-main: #486fe4;
  --light-bg: #d5e1ff;
}
        .home-content{
  height: 100vh;
  width: 100%;
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
    justify-content: center;
  padding: 0 5px;
  font-family:"poppins";
}
.home-content h2{
  color: var(--black);
  font-size: 50px;
}
.home-content h3{
  color: var(--black);
  font-size: 42px;
  margin-top: -8px;
}
.home-content h3 span{
  color: var(--nav-main);
}
.home-content h3 span.darkMode{
  color: var(--black);
}
.home-content p{
  color: var(--black);
  font-size: 16px;
  width: 45%;
  margin: 4px 0 30px 0;
}
.home-content a{
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  background: var(--nav-main);
}
.home-content a i{
  transform: rotate(45deg);
  font-size: 16px;
}
.home-content a:hover{
  background: var(--switchers-main);
}
